In [15]:
from sqlalchemy import create_engine
import psycopg2
from databaseconfig import hp_pwd
import pandas as pd

In [12]:
engine = create_engine(f'postgresql+psycopg2://postgres:{hp_pwd}@localhost/HP_DB')

In [13]:
connection = engine.connect()

In [22]:
#Quesry the records in the database 
data=pd.read_sql('SELECT s.salary,AVG(salary) FROM employees',connection)

In [23]:
data.head()

   emp_no  birth_date first_name last_name gender   hire_date
0   10001  1953-09-02     Georgi   Facello      M  1986-06-26
1   10002  1964-06-02    Bezalel    Simmel      F  1985-11-21
2   10003  1959-12-03      Parto   Bamford      M  1986-08-28
3   10004  1954-05-01  Chirstian   Koblick      M  1986-12-01
4   10005  1955-01-21    Kyoichi  Maliniak      M  1989-09-12